---
# Do not remove the triple dashes
---
@charset "utf-8";

//
// Set theme colors
//

{% if site.theme_priv == "one" %}
  $color: #17baef;
  $color-2: #eebf3f;
{% elsif site.theme_priv == "two" %}
  $color: #b4ca65;
  $color-2: #dd7c4f;
{% elsif site.theme_priv == "three" %}
  $color: #6690b9;
  $color-2: #f46fa3;
{% elsif site.theme_priv == "four" %}
  $color: #50c8c9;
  $color-2: #ffbe57;
{% else %}
  $color: #6690b9;
  $color-2: #dd9d71;
{% endif %}

//
// Import partials from `_sass` folder
//

@import "default";

//
// Insert custom css below this line
//

.scroll-left {
 height: 30px;	
 overflow: hidden;
 position: relative;
 background: #426a90;
 color: white;
}

.scroll-left p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 30px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 15s linear infinite;
 -webkit-animation: scroll-left 15s linear infinite;
 animation: scroll-left 15s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

.disabled-link {
  pointer-events: none;
}
.logo-title:hover {
  text-decoration: none;
}
.promo .title {
  font-size: 65px;
  color: $color;
  margin-top: 0;
}
.btns {
  margin-top: 50px;
  margin-bottom: 50px;
}
.promo .meta {
    margin-top: 30px;
}
.donorbox {
  margin-top: 60px;
}
.join-us-intro {
  margin-top: 0;
  color: #ddd !important;
}
.highlight {
  color: $color-2 !important;
}
.promo .social-icons a {
    display: inline-block;
    background: darken($color, 20%);
    color: #fff;
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-right: 8px;
    float: left;
}
.btn-outline, .btn-outline:link, .btn-outline:visited {
    background-color: transparent;
    border-radius: 5px;
    &.btn-outline-primary {
      border: 2px solid $color;
      color: $color;
    }
    &.btn-outline-secondary {
      border: 2px solid $color-2;
      color: $color-2;
    }
    &.btn-outline-medium {
      border: 2px solid darken($color, 15%);
      color: darken($color, 15%);
    }
}
.btn-outline:hover {
    color: #fff !important;
    &.btn-outline-primary {
      background-color: $color;
    }
    &.btn-outline-secondary {
      background-color: $color-2;
    }
    &.btn-outline-medium {
      background-color: darken($color, 15%);
    }
}
.features .form-inline {
  margin-top: 10px;
}
